.root {
    display: 'flex'
  }

 .details {
    display: 'flex';
    flex-direction: 'column'
  }
  .content {
    flex: '1 0 auto'
  }
  .cover {
    width: 151
  }
  .playIcon {
    height: 38;
    width: 38
  }

  .favIcon {
    height: 38;
    width: 38 
  }