.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo{
  min-height: 15rem;
  margin: 1rem;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.root {
  display: flex;
  margin: 2rem;
  width: fit-content;
}

.details {
  display: flex;
  flex-direction: column;  
}

.content {
  flex: 1 0 auto;
}

.cover {
  width: 151;
}

.controls {
  display: 'flex';
  align-items: 'center';
  padding: 2rem;
}

.playIcon {
  height: 38;
  width: 38;
}

.favIcon {
  height: 38;
  width: 38;
}

.menuButton{
  margin-right: 0.25rem;
}


.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: 10px;
  margin: 0.25rem;
  width: 60%;
  }

  .inputTypeSearch{
    width: 90%;
    padding: 0.25rem;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 0.5rem;
  }
  
  .inputTypeSearch:hover{
    background-color: rgba(255, 255, 255, 0.8);
  }

.searchIcon {
  pointer-events: none;
  display: flex;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
